{% extends 'base.html' %}

{% block title %}Sponsors for {{ walker.first_name }} {{ walker.last_name }} ({{walker.username}}){% endblock %}

{% block content %}
    Walker: {{ walker.first_name }} {{ walker.last_name }}.
    <ul>
      <li><a href="/walker/{{walker.uuid}}/">Private Url</a>
      <li><a href="/walker/{{walker.username}}/">public Url</a>
    </ul>
    <div id="walker_sponsors">
        {% if sponsors %}
            <div id="walker_add_sponsor_link">
                <a href="{% url walker_add_sponsor walker.uuid %}">Add additional sponsor</a>
            </div>
        {% endif %}
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Edit</th>
                <th>Remote</th>
            </tr>
            {% if sponsors %}
                {% for sponsor in sponsors %}
                    <tr>
                        <td>{{ sponsor.first_name }}</td>
                        <td>{{ sponsor.last_name }}</td>
                        <td>{{ sponsor.contact }}</td>
                        <td>{{ sponsor.amount }}</td>
                        <td>
                            {% if sponsor.paid %}
                                <img src="/media/admin_media/img/admin/icon-yes.gif" />
                            {% else %}
                                <img src="/media/admin_media/img/admin/icon-no.gif" />
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url walker_edit_sponsor walker.uuid sponsor.id %}">
                                <img src="{{ MEDIA_URL }}images/icons/user_edit.png" />
                            </a>
                        </td>
                        <td>
                            <img src="{{ MEDIA_URL }}images/icons/user_delete.png" onclick="deleteSponsor({{ sponsor.id }});"/>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">You haven't added any sponsors yet - <a href="{% url walker_add_sponsor walker.uuid %}">Add one now!</a></td>
                </tr>
            {% endif %}
        </table>
    </div>
    <form name="sponsor_form" method="post">
        <input type="hidden" name="sponsor_id" value="">
    </form>
    <script type="text/javascript">
        function deleteSponsor(id) {
            if (confirm("Are you sure you want to remove this sponsor?")) {
                document.sponsor_form.action = "{% url walker_delete_sponsor walker.uuid %}";
                document.sponsor_form.sponsor_id.value = id;
                document.sponsor_form.submit();
            }
        }
    </script>
{% endblock %}
