{% extends 'walker_base.html' %}

{% block title %}Sponsors for {{ walker.first_name }} {{ walker.last_name }} ({{walker.username}}){% endblock %}

{% block walker %}
    <style type="text/css">
        .hp_box {
            padding: 10px 10px 10px 0;
            width: 438px;
        }
        .hp_box .box_header {
            font-size: 1.3em;
            font-weight: bold;
            border-bottom: solid 1px #263A81;
            margin: 0 0 5px 0;
            padding: 0 0 5px 0;
        }
    </style>
    <div style="width: 718px; margin: 10px 0 0 0;">
        <div style="width: 180px; float: right; margin-top: 10px;"><a href="{% url walker_sponsors %}"><img src="http://xdal.org/thermometer/thermometer.cgi?showText=on&goalText=GOAL+-+&goal={% if walker.goal %}{{ walker.goal }}{% else %}1000{% endif %}&current={% if current_pledges %}{{ current_pledges }}{% else %}0{% endif %}&asOf={% now "M j" %}&suffix=&unit=%24&precision=0&graduations=0&width=180"></a></div>
		{% if not walker.goal %}
			<div class="messages" style="background-color: #FCD28C; padding: 5px 10px; float: left; width: 418px; border: dashed 1px #777;">
				You have not yet set a goal - <a href="{% url walker_edit %}">Set one now</a>
			</div>
		{% endif %}
        {% if announcements %}
            <div class="hp_box" style="float: left;">
                <div class="box_header">Announcements</div>
                <div class="box_content">{{ announcements.content }}</div>
            </div>
        {% endif %}
        <div class="hp_box" style="float: left;">
            <div class="box_header">My Sponsors</div>
            <div class="box_content">
                <table class="lightweight">
                    <tr>
                        <td>Number of Sponsors</td><td>{{ current_sponsors }}</td>
                    </tr><tr>
                        <td>Total Money Raised</td><td>${% if current_pledges %}{{ current_pledges }}{% else %}0{% endif %}</td>
                    </tr><tr>
                        <td>Money Collected</td><td>${% if current_collected %}{{ current_collected }}{% else %}0{% endif %}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="hp_box" style="float: left;">
            <div class="box_header">My Tools</div>
            <div class="box_content">
                <table class="lightweight">
                    <tr>
                        <td>Public Link</td><td><a href="/{{walker.username}}">Link</a></td>
                    </tr><tr>
                        <td>Brochure</td><td><a href="http://autismyork.org/download/WalkForAutismBrochure.pdf">Link</a></}td>
                    </tr><tr>
                        <td>Pledge Sheet</td><td><a href="http://autismyork.org/download/WalkPledgeSheet.pdf">Link</a></}td>
                    </tr><tr>
                        <td>Sample Letters</td><td><a href="/walker/example/">Link</a></}td>
                    {% if walker.is_captain %}
                    </tr><tr>
                        <td>Team Roster</td><td><a href="/teams/roster/">Link</a></}td>
                    {% endif %}
                    </tr>
                </table>
            </div>
        </div>
        {% if walker.is_staff %}
        <div class="hp_box" style="float: left;">
            <div class="box_header">Staff Tools</div>
            <div class="box_content">
                <table class="lightweight">
                    <tr>
                        <td>Captain List</td><td><a href="/teams/captroster/">Link</a></}td>
                    </tr><tr>
                        <td>Full Roster</td><td><a href="/teams/fullroster/">Link</a></}td>
                    </tr>
                </table>
            </div>
       </div>
       {% endif %}
    </div>
    <div style="clear: both;">
{% endblock %}
