{% extends 'base.html' %}

{% block content %}
    <h1>{{ walker.first_name }} {{ walker.last_name }}</h1>
    <div id="walkerNavigation">
        <ul class="navigation">
            <li><a href="{% url walker_home walker.uuid %}">My Overview</a></li>
            <li><a href="{% url walker_sponsors %}">View Sponsors</a></li>
            <li><a href="{% url walker_edit %}">Customize my Homepage</a></li>
            <li><a href="{% url walker_team %}">Join or Change your Team</a></li>
        </ul>
    </div>
    <br style="clear: both;">
    {% block walker %}{% endblock %}
{% endblock %}