<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css?v=1">
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
    </head>
    <body>
        <div id="pageWrapper">
            <div id="logo">
                <a href="/">
                    <img src="{{ MEDIA_URL }}images/logo_200.png" alt="2009 Walk for Autism" title="2009 Walk for Autism">
                </a>
            </div>
            <div id="mainNavigation">
                <ul class="navigation">
                    {% if request.session.walker_uuid %}
                        <li><a href="{% url walker_home request.session.walker_uuid %}">My Homepage</a></li>
                    {% else %}
                        <li><a href="/">Home</a></li>
                    {% endif %}
                    <li><a href="http://autismyork.org/index.php?option=com_content&view=article&id=50">About the Walk</a></li>
                    {% if request.session.walker_uuid %}
                    {% else %}
                        <li><a href="/new/">Register Now</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="contentWrapper">
                {% block content %}
        
                {% endblock %}
            </div>
        </div>
    </body>
</html>
