{% extends 'base.html' %}

{% block title %}Autism Walk: Home{% endblock %}

{% block content %}

<div class="article-content">
<p> </p>
<p style="margin-bottom: 0in;" align="LEFT"><span style="color: #000081;"><span style="font-family: Arial,sans-serif;"><span style="font-size: large;"><strong>Autism York Presents…</strong></span></span></span></p>

<p> </p>
<p style="text-align: center;"> </p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000081;"><span style="font-family: Arial,sans-serif;"><span style="font-size: x-large;"><strong>OCTOBER 10, 2009</strong></span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000081;"><span style="font-family: Arial,sans-serif;"><span style="font-size: x-large;"><strong>10:00am</strong></span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000081;"><span style="font-family: Arial,sans-serif;"><span style="font-size: x-large;"><strong>John Rudy Park</strong></span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000081;"><span style="font-family: Arial,sans-serif;"><span style="font-size: x-large;"><strong><br /></strong></span></span></span></p>
<p style="text-align: center;"><span style="color: #000000;"><span style="font-size: large;"><span style="font-family: Arial,sans-serif;">Click <a href="/new">HERE</a> to register now!</span></span></span></p>

<p style="text-align: center;"><span style="color: #000000;"><span style="font-size: large;"><span style="font-family: Arial,sans-serif;">Click <a href="/download/WalkForAutismBrochure.pdf">HERE</a> for more information & a printable brochure!<br /></span></span></span></p>
<p style="margin-right: -0.3in; margin-bottom: 0in;" align="CENTER"> </p>
<p style="margin-left: -0.41in; margin-right: -0.3in; margin-bottom: 0in;" align="CENTER"><span style="color: #c10000;"><span style="font-family: Arial,sans-serif;"><span style="font-size: small;"><strong>Team and Individual Prizes!         Bounce Houses & Face Painting!         Autism Awareness Items!</strong></span></span></span></p>
<p style="margin-right: -0.3in; margin-bottom: 0in;" align="CENTER"> </p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000000;"><span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><em>The 2009 Walk for Autism is proudly sponsored by</em></span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000000;"><span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><em><img src="http://autismyork.org/images/stories/autism_york_logo copy.jpg" border="0" width="171" height="99" /></em></span></span></span><span style="color: #000000;"><span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><em><img src="http://autismyork.org/images/stories/turkeyhill.jpg" border="0" /><br /></em></span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"> </p>

<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000000;"><span style="font-family: Arial Narrow,sans-serif;"><span style="font-size: large;">All proceeds will help <strong>Autism York </strong>continue to sponsor its </span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000000;"><span style="font-family: Arial Narrow,sans-serif;"><span style="font-size: large;">many events and programs at low or no cost to families living with </span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000000;"><span style="font-family: Arial Narrow,sans-serif;"><span style="font-size: large;">Autism Spectrum Disorder in York and Adams Counties.</span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"> </p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000000;"> <span style="font-family: Arial Narrow,sans-serif;"><span style="font-size: large;">Educational seminars, social outings, lending library, resource directory, community </span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="color: #000000;"><span style="font-family: Arial Narrow,sans-serif;"><span style="font-size: large;">outreach programs, family grants & scholarships, and support for </span></span></span></p>
<p style="margin-bottom: 0in;" align="CENTER"><span style="font-family: Arial Narrow,sans-serif;"><span style="font-size: large;"><span style="color: #000000;">new families are all made possible through your tax deductible donations.</span></span></span></p>

<p> </p>
<p> </p></div>

{% endblock %}
