html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
del,ins{text-decoration:none;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}


/***  Global Styles ***/
body {
    width: 100%;
    background-color: #DDD;
}

#pageWrapper {
    width: 758px;
    background-color: #FFF;
    margin: 0 auto;
}

#logo {
    padding: 20px;
}

#mainNavigation {
    height: 30px;
    background-color: #263A81;
}

#mainNavigation ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

#mainNavigation li {
    display: block;
    float: left;
    margin: 5px 10px;
}

#mainNavigation li a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

#mainNavigation li a:hover {
    color: #F6F064;
}

#contentWrapper {
    padding: 20px;
}

#contentWrapper p {
    margin: 5px 0 10px;
}
